{
    "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
    ],
    "env": {
      "production": {
        "presets": [["minify", {
          "builtIns": false
        }]]
      }
    },
    "comments": false
}